.signup-button{
    border: none;
   background-color:rgba(58, 58, 255, 0.842);
   margin-inline: 10px;
   padding-inline:10px ;
   color:white;
   padding-block: 5px;
   
 }
 .user img{
     margin-left: 10px;
  width:30px;
  height:30px;
   border-radius: 40px;
  
}