.booking-main{
    height:100vh;
    display:flex;
    margin:100px;
}
.booking-details{
    width:50%;
}

.booking-form form{
    display:flex;
    flex-direction:column;
   
}
.booking-form form input{
    width:500px;
    margin: 10px;
}