.client-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
}

.client-container img{
 width: 400px;
 height: 300px;
}

@media only screen and (max-width:688px){
    .client-container{
        display:grid;
        grid-template-columns: 1fr ;
        margin: 20px;
    }
}
